*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color:rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    background:linear-gradient(90deg,#E5BAFA, #05BAFA);
}
h1{
    font-weight: 900;
    font-size:clamp(2.5rem,4vw,4rem);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
    width:100%;
    margin-top:6rem;
}
h2{
    color:rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: .2rem;
    font-size:clamp(1.8rem,3vw,3rem);
    margin-top:1rem;
}